<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="/js/basic.js"></script>
<!--    CDN -->
    <title>나만의 할일 </title>
</head>
<body>
<div class="header" style="position:relative;">
    <div id="login-true" >
<!--        style="display: none"-->
        <div id="header-title-login-user">
            <span id="username"></span> 님이 로그인중....
        </div>
        <div id="header-title-select-shop">
            할 일 카드
        </div>
        <a id="logout-text" href="javascript:logout()">
            로그아웃
        </a>
    </div>

    <div id="login-false">
<!--        style="display: none-->
        <div id="header-title-login-nouser">
            <span>로그인중이 아닙니다.</span>
        </div>
        <a id="sign-text" href="/user/signup">
            회원가입
        </a>
        <a id="login-text" href="/user/login-page">
            로그인
        </a>
    </div>
</div>

<div id="card-container">
        <!-- 할 일 카드가 여기에 표시됩니다 -->
        <!-- 이 부분은 동적으로 업데이트됩니다. -->
</div>

<div id="overlay" class="overlay"></div>
<div id="popup" class="popup">
    <span class="close" id="close-popup">&times;</span>
    <h2 id="popup-title">할 일 제목</h2>
    <p id="popup-content">할 일 내용</p>
    <p id ="popup-date"></p>
    <div>
        <label for="completion-checkbox">완료 여부:</label>
        <input type="checkbox" id="completion-checkbox">
    </div>
    <button id="edit-button">수정하기</button> <!-- 수정하기 버튼 추가 -->
    <br>
    <div id="reply-container"></div>
    <button id="add-comment-btn">댓글 추가하기</button>
    <div id="comment-form-container" style="display: none;">
        <label for="comment-text">댓글 내용:</label>
        <textarea id="comment-text"></textarea>
        <button id="submit-comment-btn">댓글 등록</button>
    </div>

</div>

<div id="edit-overlay" class="overlay"></div>
<div id = "edit-popup" class="popup">
    <span class="edit-close" id="close-edit-popup">&times;</span>
    <h2 id="edit-popup-title">할 일 제목</h2>
    <p id="edit-popup-content">할 일 내용</p>

</div>

<div id = "edit-reply-popup" class="popup">
    <span class="edit-reply-close" id="reply-close-popup">&times;</span>
    <textarea id="edit-content-input"></textarea>
    <button id="save-changes-btn">댓글 수정 등록</button>
</div>

<div id="add-overlay" class="overlay"></div>
<div id="add-task-popup" class="popup">
    <h2>새로운 할 일 추가</h2>
    <span class="add-close" id="add-edit-popup">&times;</span>
    <label for="task-title-input">제목:</label>
    <input type="text" id="task-title-input" required>
    <label for="task-content-input">내용:</label>
    <textarea id="task-content-input" required></textarea>
    <button onclick="addTask()">추가하기</button>
</div>



</body>
</html>